{% extends "layout.html" %}
{% block body %}

<form method="POST">
    <div class="form-group">
        <label for="password"><strong>Enter the password you want to share:</strong></label>
        <div class="password_wrapper">
            <input id="password_field" class="form-control" type="text" name="password" placeholder="secret password">
        </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="valid_type" value="views" checked>
        Views
        <input class="form-control" type="text" name="valid_views" value="1">
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="valid_type" value="days">
        Days
        <input class="form-control" type="text" name="valid_days" value="1">
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="valid_type" value="ip">
        IP Address
        <input class="form-control" type="text" name="valid_ip" value="">
      </label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create password link</button>
    </div>
</form>

{% for link in get_flashed_messages() %}
<strong>Visit this link to retrieve the password</strong>
<p><a href="{{ link }}" target="blank">{{ link }}</a></p>
{% endfor %}

{% endblock %}